{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="home-page">
    <div class="top-right">
        <a href="{% url 'login' %}">log in</a>
        <a href="{% url 'register' %}">sign in</a>
    </div>

    <div class="Logo">ZenDo.</div>

    <div class="heading delius-swash-caps-regular">Your day, your flow.</div>
    <div class="subheading2 delius-swash-caps-regular">Because every goal deserves</div>
    <div class="subheading3 delius-swash-caps-regular">your full attention</div>
</div>
{% endblock %}
